body {
  margin: 0;
  padding: 10%;
  font-family: "Courier New", Courier, monospace;
  background-color: #073642;
}

ul {
  list-style: none;
  padding-left: 2em;
}

#root {
  padding-left: 0;
}

#root > li {
  margin: 0.5em 0;
}

.nested > li {
  margin-left: 1rem;
}

input {
  opacity: 0;
  width: 0;
  margin: 0;
}

.title {
  cursor: default;
  color: #eee8d5;
}

.header {
  user-select: none;
  color: #eee8d5;
}

.header::before {
  content: "+";
  margin-right: 0.5em;
}

input:checked ~ .header::before {
  content: "-";
}

.nested {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

input:checked ~ .nested {
  visibility: visible;
  max-height: none;
  opacity: 1;
}

.description {
  color: #586e75;
}

a {
  color: #839496;
}

a:hover {
  color: #fdf6e3;
}
a:hover + .description {
  color: #839496;
}

label:has(:focus-visible) {
  outline :1px solid #dc322f;
}

a:focus-visible {
  outline :1px solid #dc322f;
}