<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="index.css" />
    <title>7x11x13</title>
  </head>
  <body>
    <h1 class="title">7x11x13</h1>
    <ul id="root">
        {% for li in lists %}
            <li>
                <label for="{{ li.id }}">
                    <input type="checkbox" id="{{ li.id }}" aria-labelledby="{{ li.id }}-header {{ li.id }}-label"/>
                    <span id="{{ li.id }}-header" class="header" aria-label="{{ li.title }}.">{{ li.title }}</span>
                    <div id="{{ li.id }}-label" class="checkbox-label"></div>
                    <ul class="nested">
                        {% for item in li.items %}
                            <li>
                                <a href="{{ item.href }}" target="_blank" aria-describedby="{{ item.title }}-desc">{{ item.title }}</a>
                                <span id="{{ item.title }}-desc" class="description" aria-label="{{ item.description }}">{{"# " if item.description else ""}}{{ item.description }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </label>
            </li>
        {% endfor %}
    </ul>
  </body>
</html>
